/*Sticky Footer Code*/
html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;

    background-color: black;
    text-align: center;

    /*background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Libre Baskerville', serif;*/
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: rgba(255, 255, 255, 0.096);
}

#landingquote {
    color: rgba(255, 255, 255, 0.212);
    transition: 0.4s ease;
}

#landingquote:hover {
    color: rgba(255, 255, 255, 0.733);
}



.jumbotron {
    max-width: 1200px;
    width: auto;
    margin: 30px auto 0px auto;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s ease;
    border: solid 3px rgba(255, 255, 255, 0);
    padding: 0px;
    min-height: 200px;
}


.video {
    margin: 10px auto 10px auto;
    border-radius: 6px;
    padding: 20px;
    background-color: black;
    color: rgb(54, 54, 54);
}

#Reel {
    text-align: center;
    margin: 100px auto 0px auto;
    font-size: 50;
}

.videobox {
    max-width: 1200px;
    margin: 20px auto 20px auto;
    color: white;
    
}

#projects {
    color: rgba(255, 255, 255, 0.418);
    border: rgba(255, 255, 255, 0) solid 1px;
    margin: 10px;
    border-radius: 1px;
    transition: 0.4s ease;
    font-family: 'Abril Fatface', cursive;
}

#projects:hover {
    color: red;
    border: rgba(255, 0, 0, 0.623) solid 1px;
    background-color: black;
    border-radius: 30px;
}

#reelbut {
    color: rgba(255, 255, 255, 0.418);
    border: solid 1px rgba(255, 0, 0, 0);
    margin: 10px;
    border-radius: 1px;
    transition: 0.4s ease;
    font-family: 'Abril Fatface', cursive;
}

#reelbut:hover {
    color: green;
    border: rgba(0, 128, 0, 0.637) solid 1px;
    border-radius: 30px;
    background-color: black;
}

#close {
    color: rgba(255, 255, 255, 0.418);
    border: rgba(255, 255, 255, 0) solid 1px;
    margin: 30px;
    border-radius: 1px;
    transition: 0.4s ease;
    font-family: 'Abril Fatface', cursive;
}

#close:hover {
    color: rgb(255, 196, 0);
    border: rgba(0, 0, 255, 0.63) solid 1px;
    background-color: black;
    border-radius: 30px;
}






.card {
    margin: 14px 0px 15px 0px;
    text-align: center;
    
    
}

.logobox {
    color: rgba(255, 255, 255, 0.486);
    font-size: 60px;
    padding: 10px;
    max-width: 1200px;
    margin: 100px auto 10px auto;
    font-family: sans-serif;
}

.nav-link {
    color: rgba(255, 255, 255, 0.411);
}










#project {
    text-align: center;
    margin: 20px auto 20px auto;
    color: white;
}

.amcontent {
    max-width: 960px;
    margin: 20px auto 20px auto;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.24);

}

.amtext {
    text-align: center;
    margin: 8px 0px 0px 0px;
    padding: 20px;
    font-size: 20px;
}

#hs {
    border-radius: 4px;
}

.fa-linkedin-in {
    color: white;
    font-size: 80px;

}

#contact {
    text-align: center;
    max-width: 1200px;
    margin: 20px auto 20px auto;
    color: white;
    font-size: 30px;
}

.testamonials {
    max-width: 700px;
    margin: 40px auto 40px auto;
    text-align: center;
    color: white;
}






/* Landing Page Styling */

.nav-link {
    color: rgba(248, 248, 248, 0.678);
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
    font-size: 14px;
}

.nav-link:hover {
    color: rgb(0, 132, 255);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 225, 255);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.171);
}

.buts {
    color: white;
}




.display-4 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 40px;
    font-style: inherit;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
    margin: 0px auto 0px auto;
}

/*
.display-4:hover {
    border: none;
    color: rgb(0, 132, 255);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.192);
}
@keyframes strike{
    0%     { transform-origin:  0% 50%;transform:scaleX(0); }
    50%    { transform-origin:  0% 50%;transform:scaleX(1);  }
    50.01% { transform-origin:100% 50%;transform:scaleX(1);  }
    100%   { transform-origin:100% 50%;transform:scaleX(0);  }
}
*/
.display-4 {
    text-align: center;
    max-width: 1200px;
    position: relative;
    transition: 0.3s ease;
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    margin: 30px auto 0px auto;
  }

/*
.display-4:hover:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(255, 227, 193);
    animation: strike .75s ease-in-out forwards;
  }
*/
  .content {
      text-align: center;
  }

  #why {
      text-align: center;
  }





  #str {
      font-size: 23px;
      font-family: 'PT Sans', sans-serif;
      margin: 50px auto 0px auto;
      padding: 5px;
      color: rgb(255, 174, 0);
      height: 80px;
  }






  #after {
    font-family:  'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.63);
    font-size: 25px;
  }

  #feel {
      font-family: 'Lobster', cursive;
      color: white;
      transition: 0.6s ease;
      font-size: 31px;
  }

  #feel:hover {
      color: rgb(111, 0, 255);
  }



#proj {
    font-size: 75px;
    font-family: 'Abril Fatface', cursive;
    color: white;
    margin: 20px;
}






  .card {
      min-height: 750px;
      background-color: rgba(255, 255, 255, 0.103);
      color: white;
      font-family: 'Nanum Gothic', sans-serif;
    }
    
.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    height: 275px;
    object-fit: cover;
  }

  #one {
    transition: 0.4s ease;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
  }

  #one:hover {
    border: blue solid 2px;
  }

  #two {
    transition: 0.4s ease;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
  }

  #two:hover {
      border: red solid 2px;
  }

  .col-lg-12 {
      font-family: 'Abril Fatface', cursive;
  }

  .card {
      transition: 0.4s ease;
      color: rgba(255, 255, 255, 0.322);
  }
  .card:hover {
      color: rgba(255, 255, 255, 0.822);
  }

  .card-title {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 25px;
  }


  .btn {
      margin: 0px 10px 0px 10px;;
      border-radius: 30px;
  }

  .testamonials {
      color: rgba(255, 255, 255, 0.678);
      padding: 10px;
      margin: autox;
      transition: 0.8s ease;
  }

  .testamonials:hover {
      color: white;

  }

  #yessum {
      font-family: 'Abril Fatface', cursive;
      border-radius: 30px;
  }

 #conbuts {
     color: rgba(255, 255, 255, 0.712);
     transition: 0.3s ease;
 }

 #conbuts:hover {
     color: white;
 }

#linked {
    color: rgba(255, 255, 255, 0.712);
    transition: 0.3s ease;
}

#linked:hover {
    color: white;
}

#mailto {
    text-decoration: none;
}


body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

html {
    background-color: black;
}


@media only screen and (max-width : 600px) {

    #conbuts {
        font-size: 20px;
    }

    #linked {
        font-size: 60px;
    }

    #proj {
        font-size: 30px;
    }

    .testamonials {
        color: white;
    }

}